.header {
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 10;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);
    background-color: white;
}

.header > h1 {
    margin: 6px;
    font-size: 30px;
    font-weight: 200;
    color: #58585b;
}